$hawks: #E03A3E;
$celtics: #007A33;
$nets: #000000;
$hornets: #1D1160;
$bulls: #CE1141;
$cavs: #6F263D;
$mavs: #00538C;
$nuggets: #0E2240;
$pistons: #C8102E;
$warriors: #006BB6;
$rockets: #CE1141;
$pacers: #002D62;
$clippers: #C8102E;
$lakers: #552583;
$grizzlies: #5D76A9;
$heat: #98002E;
$bucks: #00471B;
$wolves: #0C2340;
$pels: #0C2340;
$knicks: #0072CE;
$thunder: #007AC1;
$magic: #0077C0;
$sixers: #006BB6;
$suns: #1D1160;
$blazers: #E03A3E;
$kings: #5A2D81;
$spurs: #C4CED4;
$raptors: #CE1141;
$jazz: #002B5C;
$wizards: #002B5C;